.votes-block{
    font-size: 14px;
}
.wrapp{
    display: flex;
}
/* table{
    width: 60%;
} */
table, th, td {
    border:1px solid black;
    text-align: center;
    padding: 5px;
}
table{
    width: 100%;
}
thead tr th{
    text-transform: uppercase;
}
button{
    width: 80px;
    margin-top: 10px;
    text-transform: uppercase;
}